<app-nav-bar></app-nav-bar>
<div class="wrapper">
    <section class="messages-page">
        <div class="container">
            <div class="messages-sec">
                <div class="row">
                    <div class="col-lg-4 col-md-12 no-pdd">
                        <div class="msgs-list">
                            <div class="msg-title">
                                <h3>People helping you</h3>
                                <h3>People you help </h3>
                                <ul>
                                    <li><a><i class="fa fa-cog"></i></a></li>
                                    <li><a><i class="fa fa-ellipsis-v"></i></a></li>
                                </ul>
                            </div>
                            <!--msg-title end-->
                            <div class="messages-list">
                                <ul>
                                    <li>
                                        <div class="usr-msg-details">
                                            <div class="usr-ms-img">
                                                <img src="../../assets/images/resources/m-img7.png" alt="">
                                            </div>
                                            <div class="usr-mg-info">
                                                <h3>Patrick Morison</h3>
                                                <p>Convallis a pellente...</p>
                                            </div>
                                            <!--usr-mg-info end-->
                                            <span class="posted_time">1:55 PM</span>
                                        </div>
                                        <!--usr-msg-details end-->
                                    </li>
                                </ul>
                            </div>
                            <!--messages-list end-->
                        </div>
                        <!--msgs-list end-->
                    </div>
                    <div class="col-lg-8 col-md-12 pd-right-none pd-left-none">
                        <div class="main-conversation-box">
                            <div class="message-bar-head">
                                <div class="usr-msg-details">
                                    <div class="usr-ms-img">
                                        <img src="../../assets/images/resources/m-img1.png" alt="">
                                    </div>
                                    <div class="usr-mg-info">
                                        <h3>John Doe</h3>
                                        <p>Online</p>
                                    </div>
                                    <!--usr-mg-info end-->
                                </div>
                                <a><i class="fa fa-ellipsis-v"></i></a>
                            </div>
                            <!--message-bar-head end-->
                            <div class="messages-line">
                                <div class="main-message-box st3">
                                    <div class="message-dt st3">
                                        <div class="message-inner-dt">
                                            <p>Cras ultricies ligula.<img src="../../assets/images/smley.png" alt=""></p>
                                        </div>
                                        <!--message-inner-dt end-->
                                        <span>5 minutes ago</span>
                                    </div>
                                    <!--message-dt end-->
                                    <div class="messg-usr-img">
                                        <img src="../../assets/images/resources/m-img1.png" alt="">
                                    </div>
                                    <!--messg-usr-img end-->
                                </div>
                                <!--main-message-box end-->
                                <div class="main-message-box st3">
                                    <div class="message-dt st3">
                                        <div class="message-inner-dt">
                                            <p>....</p>
                                        </div>
                                        <!--message-inner-dt end-->
                                        <span>Typing...</span>
                                    </div>
                                    <!--message-dt end-->
                                    <div class="messg-usr-img">
                                        <img src="../../assets/images/resources/m-img1.png" alt="">
                                    </div>
                                    <!--messg-usr-img end-->
                                </div>
                                <!--main-message-box end-->
                                <div class="main-message-box ta-right">
                                    <div class="message-dt">
                                        <div class="message-inner-dt">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor.</p>
                                        </div>
                                        <!--message-inner-dt end-->
                                        <span>Sat, Aug 23, 1:08 PM</span>
                                    </div>
                                    <!--message-dt end-->
                                    <div class="messg-usr-img">
                                        <img src="../../assets/images/resources/m-img2.png" alt="">
                                    </div>
                                    <!--messg-usr-img end-->
                                </div>
                                <!--main-message-box end-->
                            </div>
                            <!--messages-line end-->
                            <div class="message-send-area">
                                <form (ngSubmit)="sendMessage(f)" #f="ngForm">
                                    <div class="mf-field">
                                        <input ngModel type="text" name="message" placeholder="Type a message here">
                                        <button type="submit">Send</button>
                                    </div>
                                    <ul>
                                        <li><a><i class="fa fa-smile-o"></i></a></li>
                                        <li><a><i class="fa fa-camera"></i></a></li>
                                        <li><a><i class="fa fa-paperclip"></i></a></li>
                                    </ul>
                                </form>
                            </div>
                            <!--message-send-area end-->
                        </div>
                        <!--main-conversation-box end-->
                    </div>
                </div>
            </div>
            <!--messages-sec end-->
        </div>
    </section>
    <!--messages-page end-->
</div>